.button-upload {
  width: 231px;
  height: 231px;
  border: 1.58219px dashed #d38238;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  &__text {
    width: 117px;
    height: 18px;
    font-style: normal;
    font-weight: 700;
    font-size: 15.189px;
    line-height: 18px;
    color: #efaa6a;
  }

  &__input {
    display: none;
  }
}
